.formulario{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    padding:20px;
  }
  .esquerda,.direita{
    width:50%;
    min-width: 350px;
  }
  .form-row{
    width:100%;
  }
  .form-group{
    width:90%;
  }
  .engloba-radios-horizontal{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-left:6%;
    padding-right:12%;
  }
  .engloba-radios-vertical{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding-left:6%;
  }
  #btn-Cad {
    margin-right:10%;
  }
  body{
    background: linear-gradient(#ffffff12,#fff), url(../img/fundo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  h1{
    margin-top:100px;
    text-align:center;
  }
  textarea{
    resize:none;
  }
  #assinatura{
    margin-top:150px;
    width:90%;
  }
  .h1-login{
    margin-top:initial;
    margin-bottom:30px;
    text-align:initial;
  }
  html{
    min-height:100%;
  }
  .html-tela{
    height:100%;
  }
  body{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      align-items: center;
      min-height:100%;
  }
  .centro{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      background-color:rgba(0,0,0,.2);
      width:400px;
      padding:30px;
      border-radius:20px; 
      box-shadow: 1px 1px 3px #000;
      align-items: center;
      justify-content:space-around;
  }
  form{
      width:100%;
  }
  .login,.senha{
      display:block;
      width:100%;
      margin-bottom: 20px;
  }
  .entrar{
      width:50%;
  }
  .div-centraliza{
    display:flex;
    justify-content: center;
    margin-top: 40px;
  }

  #menu{
    width:100%;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    box-shadow:#000 0px -30px 50px;
    z-index:999;
}
#menu ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:100%;
    margin-top:0;
    margin-bottom:0;
    border-radius:10px 5px 15px 20px;
}
li{
    list-style:none;
    align-items:center;
}
.form-cadastro-usuario>.form-group{
  width:50%;
  min-width:350px;
}
.form-cadastro-usuario>.form-group input{
  width:90%;
}
#div-cadastrar{
  margin-top:40px;
}
#lista-links>li{
  margin-left: 20px;
}
#lista-links .selected{
  border-bottom:solid 2px #007bff;
}
a:hover{
  text-decoration:none;
}
#menu-interno{
  float:right;
}
.invisivel{
  display:none;
}
.list{
  margin-top:3px;
  border:solid 0.5px #aaa;
  border-radius:0px 10px 10px 10px;
  position:absolute;
  margin:auto;
  padding:0;
  overflow: hidden;
}
.list-item{
  padding:0 10px 0 10px;
  height: 30px;
  vertical-align: middle;
  width:100%;
}
.list-item:hover{
  background-color: #ddd;
  color:#000;
  cursor: pointer;
}
.list-item *{
 vertical-align: middle;
 color:#000;
}
